/************************************************************
  Default Styles / Mobile-first Approach 
************************************************************/

/****************************************
  Overall Default Styles
****************************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /***** Colors *****/

  /* Primary */
  --veryDarkBlue: hsl(243, 87%, 12%);
  --desaturatedBlue:  hsl(238, 22%, 44%);
  --white: #fff;

  /* Accent */
  --brightBlue: hsl(224, 93%, 58%);
  --moderateCyan: hsl(170, 45%, 43%);

  /* Neutral */
  --lightGrayishBlue: hsl(240, 75%, 98%);
  --lightGray: hsl(0, 0%, 75%);

  /***** Spacing *****/
  --mobile-spacing: 1.5rem 1.2rem;
  --block-spacing: 2rem 0;
  --block-spacing-btm: 2rem;

}
body {
  text-align: center;
}
header {
  height: 10vh;
}
ul {
  list-style: none;
}
body {
  font-family: 'Open Sans', sans-serif;
  padding: var(--mobile-spacing);
}
h1, h2 {
  font-family: 'Raleway', sans-serif;
}
h1 {
  padding: var(--block-spacing);
}

.illustration {
  width: 20rem;
}
/****************************************
  Navigation Styles
****************************************/
#navigation {
  display: flex;
  justify-content: space-between;
}
#logo img {
  width: 6.5rem;
}
#links {
  display: flex;
}
#links li {
  padding-right: 1rem;
}
#links li:last-child {
  padding-right: 0;
}
#links li a {
  color: black;
  text-decoration: none;
}
#links li a:hover {
  color: var(--moderateCyan);
  text-decoration: underline;
}

/****************************************
  Landing Page Styles
****************************************/
#landing-pg p{
  padding: var(--block-spacing);
}

#landing-pg .email {
  padding-bottom: var(--block-spacing-btm);
}
#landing-pg #email {
  width: 100%;
  height: 2.5rem;
  border-radius: 5px;
  border: 1px solid black;
  padding: 1rem 1.5rem;
  font-size: 0.9rem;
}
#landing-pg .email button {
  margin-top: 1.2rem;
  width: 100%;
  height: 2.5rem;
  background: var(--brightBlue);
  border: none;
  border-radius: 5px;
  color: var(--white);
  font-size: 0.9rem;
}

/****************************************
  Productive Styles
****************************************/
#productive figure {
  padding: var(--block-spacing);
}